PORT=3001
APPLE_ID=username
APPLE_APP_SPECIFIC_PASSWORD=password
BUSINESS_START_HOUR=9
BUSINESS_END_HOUR=17
SLOT_DURATION_MINUTES=30
TIMEZONE=America/Denver
ZOOM_ACCOUNT_ID=your_account_id
ZOOM_CLIENT_ID=your_zoom_client_id
ZOOM_CLIENT_SECRET=your_zoom_client_secret
SEND_FROM_EMAIL=address to send from
SEND_FROM_NAME=Sending name